<h1>Welcome to Rewsly</h1>


<%= form_tag "/stories", method: "GET" do %>
	<%= text_field_tag :q, params[:q] %>
	<%= submit_tag "Search" %>
<%end%>

<table>
  <tr>
    <th>S.No.</th>
    <th>Today's Top Stories</th>
  </tr>
 
	<% i=1 %>
  <% @stories.each do |story| %>
    <tr>
      <td><%= i %></td>	
      <td><%= link_to story.title, story_path(story) %></td>
    </tr>
  <%  i+=1 %>
  <% end %>
  
</table>

<td><%= link_to 'Add New Story', new_story_path %></td>

