<h1>Stories#new</h1>

<% if user_signed_in? %>
<%= form_for(@story) do |f| %>
	<% if @story.errors.any? %>
	  <div id="error explanation">
		<h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved </h2>
			<ul>
				<% @story.errors.full_messages.each do |msg| %>
				<li><%=msg%></li>
				<% end %>
			</ul>
	  </div>
	<%end%>

	  <p>
	  	
	  	<%= f.label :title %><br>
	  	<%= f.text_field :title %><br>
	  </p>

	  <p>
	  	<%= f.label :link %><br>
	  	<%= f.text_field :link %>
	  </p>

	  <p>
	  	<%= f.label :category %><br>
	  	<%= f.text_field :category %>
	  </p>

	  <p>
	  	<%= f.label :upvotes %><br>
	  	<%= f.text_field :upvotes %>
	  </p>
	  <p>
	  	<%= f.submit %>
	  </p>

	  <%= link_to 'Back to all stories', stories_path%>

<% end %>
<% end %>
