<p>
<strong> Title: </strong>
<%= @story.title %>
</p>

<p>
<strong> Article: </strong>
<%= link_to @story.link, @story.link%>
</p>

<p>
<strong> Category</strong>
<%= @story.category %>
</p>

<p>
<strong> Upvotes</strong>
<%= @story.upvotes %>
</p>

<%= link_to 'Back to all stories', stories_path%>